#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 20 21 22 35 36 45 46 47 8 9 10 11 12 23 24 25 26 27 37 38 39 40 41 19 34 44 43 42>;
        };

        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33 34 42 43 44 19 20 21 35 6 45 46 47>;
        };

        layer_tap: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            tapping-term-ms = <170>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "QWERTY";
            bindings = <
&kp GRAVE       &kp Q             &kp W             &kp E                &kp R              &kp T                                                &mmv MOVE_UP                     &kp Y               &kp U               &kp I               &kp O              &kp P                 &kp MINUS
&caps_word      &hrm_left LGUI A  &hrm_left LALT S  &hrm_left LCTRL D    &hrm_left LSHFT F  &kp G                                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H               &hrm_right RSHFT J  &hrm_right RCTRL K  &hrm_right RALT L  &hrm_right RGUI SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z             &kp X             &kp C                &kp V              &kp B                   &kp SPACE                    &mmv MOVE_DOWN                   &kp N               &kp M               &kp COMMA           &kp DOT            &kp FSLH              &kp TAB
                                                    &layer_tap 6 DELETE  &layer_tap 5 ESC   &layer_tap 4 BACKSPACE                                                                &layer_tap 3 SPACE  &layer_tap 5 ENTER  &layer_tap 7 TAB
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        colemak {
            display-name = "COLEMAK";
            bindings = <
&kp GRAVE       &kp Q             &kp W             &kp F                &kp P              &kp B                                          &kp UP                &kp J               &kp L               &kp U               &kp Y              &kp APOS           &kp MINUS
&caps_word      &hrm_left LGUI A  &hrm_left LALT R  &hrm_left LCTRL S    &hrm_left LSHFT T  &kp G                                &kp LEFT  &kp ENTER  &kp RIGHT  &kp M               &hrm_right RSHFT N  &hrm_right RCTRL E  &hrm_right RALT I  &hrm_right RGUI O  &kp SEMI
&kp LEFT_SHIFT  &kp Z             &kp X             &kp C                &kp D              &kp V                   &kp SPACE              &kp DOWN              &kp K               &kp H               &kp COMMA           &kp DOT            &kp FSLH           &kp TAB
                                                    &layer_tap 6 DELETE  &layer_tap 5 ESC   &layer_tap 4 BACKSPACE                                               &layer_tap 3 SPACE  &layer_tap 5 ENTER  &layer_tap 7 TAB
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        engram {
            display-name = "ENGRAM";
            bindings = <
&kp GRAVE       &kp B             &kp Y             &kp O                &kp U              &kp APOS                                       &kp UP                &kp SEMI            &kp L               &kp D               &kp W              &kp V              &kp Z
&caps_word      &hrm_left LGUI C  &hrm_left LALT I  &hrm_left LCTRL E    &hrm_left LSHFT A  &kp COMMA                            &kp LEFT  &kp ENTER  &kp RIGHT  &kp DOT             &hrm_right RSHFT H  &hrm_right RCTRL T  &hrm_right RALT S  &hrm_right RGUI N  &kp Q
&kp LEFT_SHIFT  &kp G             &kp X             &kp J                &kp K              &kp MINUS               &kp SPACE              &kp DOWN              &kp FSLH            &kp R               &kp M               &kp F              &kp P              &kp TAB
                                                    &layer_tap 6 DELETE  &layer_tap 5 ESC   &layer_tap 4 BACKSPACE                                               &layer_tap 3 SPACE  &layer_tap 5 ENTER  &layer_tap 7 TAB
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        symbol {
            bindings = <
&kp EXCLAMATION  &kp LEFT_BRACE  &kp SQT    &kp DOUBLE_QUOTES  &kp RIGHT_BRACE   &kp QUESTION                                     &mmv MOVE_UP                     &kp ENTER   &kp LS(TAB)           &kp TAB           &kp SPACE          &kp BACKSPACE          &kp PERCENT
&kp HASH         &kp CARET       &kp EQUAL  &kp UNDERSCORE     &kp DOLLAR        &kp ASTERISK                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp PERIOD  &kp GRAVE             &kp AMPERSAND     &kp PLUS           &kp AT                 &kp COLON
&kp TILDE        &kp LESS_THAN   &kp PIPE   &kp MINUS          &kp GREATER_THAN  &kp SLASH      &kp SCROLLLOCK                    &mmv MOVE_DOWN                   &kp COMMA   &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp BACKSLASH
                                            &kp PERCENT        &kp COLON         &kp SEMICOLON                                                                     &trans      &trans                &trans
            >;

            label = "SYMBOL";
            sensor-bindings = <&scroll_encoder>;
        };

        number {
            bindings = <
&kp F1           &kp F2    &kp F3    &kp F4     &kp F5     &kp F6                             &kp UP                &kp PERCENT   &kp N7     &kp N8   &kp N9  &kp EQUAL  &kp BACKSPACE
&kp F7           &kp F8    &kp F9    &kp F10    &kp F11    &kp F12                  &kp LEFT  &kp ENTER  &kp RIGHT  &kp PLUS      &kp N4     &kp N5   &kp N6  &kp MINUS  &kp ENTER
&kp PRINTSCREEN  &mkp MB5  &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &kp C_MUTE              &kp DOWN              &kp ASTERISK  &kp N1     &kp N2   &kp N3  &kp FSLH   &kp CARET
                                     &trans     &trans     &trans                                                   &kp N0        &kp COMMA  &kp DOT
            >;

            label = "NUMBER";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        system {
            display-name = "SYSTEM";
            bindings = <
&rgb_ug RGB_EFR  &rgb_ug RGB_EFF    &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI                                &mmv MOVE_UP                     &kp K_UNDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_REDO  &sys_reset
&bt BT_CLR       &bt BT_SEL 0       &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT  &kp RIGHT   &bootloader
&bt BT_CLR_ALL   &ext_power EP_TOG  &out OUT_TOG     &rgb_ug RGB_OFF  &rgb_ug RGB_ON   &rgb_ug RGB_TOG  &kp C_MUTE                    &mmv MOVE_DOWN                   &kp K_LOCK  &kp HOME     &kp PG_DN   &kp PG_UP  &kp END     &studio_unlock
                                                     &trans           &trans           &trans                                                                          &trans      &trans       &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };

        gaming {
            bindings = <
&kp T   &kp TAB    &kp Q  &kp W      &kp E    &kp R                        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&kp G   &kp LSHFT  &kp A  &kp S      &kp D    &kp F                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LCTRL  &kp Z  &kp X      &kp C    &kp V      &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                          &kp ENTER  &kp ESC  &kp SPACE                                    &trans  &trans  &trans
            >;

            label = "GAMING";
        };

        lower {
            bindings = <
&to 0   &to 1   &to 2   &trans  &trans  &trans                    &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &tog 6  &tog 5  &tog 4                                    &tog 3  &tog 5  &trans
            >;

            label = "LOWER";
        };
    };
};
